<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dimoshka.ua.list_orders"
          android:versionCode="61"
          android:versionName="1.0.6">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:allowClearUserData="true"
            android:debuggable="false"
            android:enabled="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:killAfterRestore="true"
            android:label="@string/main"
            android:largeHeap="false"
            android:logo="@drawable/ic_launcher"
            android:restoreAnyVersion="true"
            android:restoreNeedsApplication="true"
            android:theme="@style/jwp"
            android:vmSafeMode="true">
        <activity
                android:name="com.dimoshka.ua.list_orders.main"
                android:label="@string/main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.orders_manager"
                android:label="@string/orders_manager">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.orders"
                android:label="@string/orders">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.users"
                android:label="@string/users">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.items"
                android:label="@string/items">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.preferences"
                android:label="@string/preference">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.orders_details"
                android:label="@string/order_details">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.items_manager"
                android:label="@string/items_manager">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.filtr"
                android:label="@string/filtr">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.orders_list_items"
                android:label="@string/orders_list_items">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.orders_list_users_per_items"
                android:label="@string/orders_list_users_per_items">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.backup_db"
                android:label="@string/backup">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.warehous"
                android:label="@string/warehous">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.warehous_manager"
                android:label="@string/warehous_manager">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.users_manager"
                android:label="@string/users_manager">
        </activity>
        <activity
                android:name="com.dimoshka.ua.list_orders.managment_select"
                android:label="@string/managment_select">
        </activity>
    </application>

</manifest>