<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimoshka.ua.list_orders">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/main"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.Apptheme">
        <activity
            android:name="com.dimoshka.ua.list_orders.main"
            android:label="@string/main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="orders_manager"
            android:label="@string/orders_manager"></activity>
        <activity
            android:name="orders"
            android:label="@string/orders"></activity>
        <activity
            android:name="users"
            android:label="@string/users"></activity>
        <activity
            android:name="items"
            android:label="@string/items"></activity>
        <activity
            android:name="preferences"
            android:label="@string/preference"></activity>
        <activity
            android:name="orders_details"
            android:label="@string/order_details"></activity>
        <activity
            android:name="items_manager"
            android:label="@string/items_manager"></activity>
        <activity
            android:name="filtr"
            android:label="@string/filtr"></activity>
        <activity
            android:name="orders_list_items"
            android:label="@string/orders_list_items"></activity>
        <activity
            android:name="orders_list_users_per_items"
            android:label="@string/orders_list_users_per_items"></activity>
        <activity
            android:name="backup_db"
            android:label="@string/backup"></activity>
        <activity
            android:name="warehous"
            android:label="@string/warehous"></activity>
        <activity
            android:name="warehous_manager"
            android:label="@string/warehous_manager"></activity>
        <activity
            android:name="users_manager"
            android:label="@string/users_manager"></activity>
        <activity
            android:name="managment_select"
            android:label="@string/managment_select"></activity>
    </application>

</manifest>